.nav {
  background-color: #ba0021;
  color: #ffffff;
  text-align: center;
}

.h1 {
  font-size: 5rem;
}

.links {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
