* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lobster, cursive;
}

@font-face {
  font-family: Lobster;
  src: url(/src/assets/fonts/Lobster-Regular.ttf);
}

body {
  background-color: #c4ced4;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
